body{
    display: flex;
    height: 100vh;
    margin: 0;
}
/* jugadores posicion */
#jugador1,#jugador2{
    display: flex;
    flex-direction: column;
    height: 100%;
}
#jugador1{
    background-color: blue;
}
#jugador2{
    background-color: red;

}
/* puntos de vida */
.lifePoints{
    color: aliceblue;
}

/* configuraciones */
#configuraciones{
    position: fixed;
    z-index: 1;
    right: 20px;
    top: 20px;
}